body {
    background: linear-gradient(233.73deg, #EDF2FF -2.9%, rgba(58, 113, 255, 0.22) 89.63%);
    // background-color: darkgray;
    font-family: "LINESeedSansTH", sans-serif;
}

.shadow-1 {
    box-shadow: 0px 2px 8px rgba(193, 210, 254, 0.81);
}

.white-box {
    @apply shadow-1 rounded-[36px] bg-white overflow-hidden;
}

.dark-hover {
    @apply hover:bg-[#424242] bg-[#2E3132] transition duration-200
}

.dark-hover.bg-hide {
    @apply hover:bg-[#2E3132] bg-transparent
}

.dark-hover.focus {
    @apply bg-[#2E3132] shadow-md
}

.tooltip{
    @apply sticky w-fit z-50 flex items-center
}

.tooltip>.inner{
    @apply absolute min-w-[100px] translate-x-3 whitespace-nowrap rounded bg-white shadow-1 text-xs text-black border border-[#7196f5cf]
}

.tooltip .option{
    @apply px-3 py-1 rounded cursor-pointer hover:bg-slate-600/10
}

.spike{
    position: absolute;
    left: 0;
    top: 50%;
    @apply shadow-1 translate-x-2 -translate-y-1
}

.spike::after{
    content: '';
    position: absolute;
    z-index: -20;
    border-left: 0 solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #7196f5cf;
    transform: rotate(45deg);
}

button{
    @apply select-none
}

[type='text'].error:focus,
[type='email'].error:focus,
[type='url'].error:focus,
[type='password'].error:focus,
[type='number'].error:focus,
[type='date'].error:focus,
[type='datetime-local'].error:focus,
[type='month'].error:focus,
[type='search'].error:focus,
[type='tel'].error:focus,
[type='time'].error:focus,
[type='week'].error:focus,
[multiple].error:focus,
textarea.error:focus,
select.error:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #f43f5e;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-color: #f43f5e;
}